main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    background-color: rgb(49, 16, 95);
}

#section-login{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    border: 2px solid rgb(9, 110, 160);
    padding: 10px 20px;
}

h2{ color: white;
    text-align: center;
}