.example-spacer {
    flex: 1 1 auto;
  }

span{
    padding: 10px;
}

  img{
    height: 50px;
    width: 50px;  
  }

  a{
    text-decoration: none;
    color: rgb(255, 255, 255);

  }

  .menu{
    border-radius: 5px;
      border: 2px solid rgb(9, 110, 160);
      padding: 5px 15px;
  }
  
  .custom-toolbar{
        background-color: #000000;
        
  }